{% extends 'LoganClimbingPartnerBundle:Base:base.html.twig' %}

{% block content %}
    <div class="container">
    <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <h3>{{ message.subject }}</h3>
                <h4>From: {{ message.userFrom.username }}</h4>
                <h4>Time: {{ message.formattedDateSent }}</h4>
                <p>{{ message.formattedText | raw }}</p>
                {% if message.userFrom != app.user %}
                    <p><b><a href="{{ path('sendMessage', {'userId': message.userFrom.id}) }}">antworten</a></b></p>
                {% endif %}
            </div>
         </div>
    </div>

{% endblock %}