{% extends 'LoganClimbingPartnerBundle:Base:base.html.twig' %}

{% block content %}
    <div class="container">
    <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <h4>Subject: {{ message.subject }}</h4>
                <h5>From: {{ message.userFrom.username }}</h5>
                <h5>Time: {{ message.formattedDateSent }}</h5>
                <hr />
                <p>{{ message.formattedText | raw }}</p>
                <hr />
                <p><b>
                    {% if message.userFrom != app.user %}
                        <a href="{{ path('sendMessage', {'userId': message.userFrom.id}) }}">antworten</a> |
                    {% endif %}
                    <a href="#" class="backLink">zurück</a>
                </b></p>
            </div>
        </div>
    </div>

{% endblock %}